# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de dependências
node_modules/
jspm_packages/

# Diretórios de build
dist/
build/

# Configurações de IDEs e editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operacional
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Configuração de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretórios de cache
.cache/
.parcel-cache/
.next/
out/
.sass-cache/
.venv/
tmp/

# Outros arquivos e diretórios que não devem ser versionados
*.lock
*.log
*.gz
